{% load staticfiles %}
<!doctype html>
<html lang="en-US" class="no-js">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'student_data/css/font-awesome/font-awesome/css/font-awesome.min.css' %}">
    <meta charset="UTF-8">
    <title> Student RFID-Registration</title>

    <link href="//www.google-analytics.com" rel="dns-prefetch">
    <link href="{% static 'student_data/images/kctlogo.png' %}" rel="shortcut icon">
    <link href="http://goodwork.show/wp-content/themes/html5blank-stable/img/icons/touch.png"
          rel="apple-touch-icon-precomposed">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="a show about work as a human endeavour">

    <link rel='dns-prefetch' href='//s.w.org'/>
    <script type="text/javascript">
        window._wpemojiSettings = {
            "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/",
            "ext": ".png",
            "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/",
            "svgExt": ".svg",
            "source": {"concatemoji": "http:\/\/goodwork.show\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.7.5"}
        };
        !function (a, b, c) {
            function d(a) {
                var b, c, d, e, f = String.fromCharCode;
                if (!k || !k.fillText) return !1;
                switch (k.clearRect(0, 0, j.width, j.height), k.textBaseline = "top", k.font = "600 32px Arial", a) {
                    case"flag":
                        return k.fillText(f(55356, 56826, 55356, 56819), 0, 0), !(j.toDataURL().length < 3e3) && (k.clearRect(0, 0, j.width, j.height), k.fillText(f(55356, 57331, 65039, 8205, 55356, 57096), 0, 0), b = j.toDataURL(), k.clearRect(0, 0, j.width, j.height), k.fillText(f(55356, 57331, 55356, 57096), 0, 0), c = j.toDataURL(), b !== c);
                    case"emoji4":
                        return k.fillText(f(55357, 56425, 55356, 57341, 8205, 55357, 56507), 0, 0), d = j.toDataURL(), k.clearRect(0, 0, j.width, j.height), k.fillText(f(55357, 56425, 55356, 57341, 55357, 56507), 0, 0), e = j.toDataURL(), d !== e
                }
                return !1
            }

            function e(a) {
                var c = b.createElement("script");
                c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c)
            }

            var f, g, h, i, j = b.createElement("canvas"), k = j.getContext && j.getContext("2d");
            for (i = Array("flag", "emoji4"), c.supports = {
                everything: !0,
                everythingExceptFlag: !0
            }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]);
            c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () {
                c.DOMReady = !0
            }, c.supports.everything || (g = function () {
                c.readyCallback()
            }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () {
                "complete" === b.readyState && c.readyCallback()
            })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji)))
        }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='normalize-css'
          href='http://goodwork.show/wp-content/themes/html5blank-stable/normalize.css?ver=1.0' media='all'/>
    <link rel='stylesheet' id='html5blank-css'
          href='http://goodwork.show/wp-content/themes/html5blank-stable/style.css?ver=1.0' media='all'/>
    <script type='text/javascript'
            src='http://goodwork.show/wp-content/themes/html5blank-stable/js/lib/conditionizr-4.3.0.min.js?ver=4.3.0'></script>
    <script type='text/javascript'
            src='http://goodwork.show/wp-content/themes/html5blank-stable/js/lib/modernizr-2.7.1.min.js?ver=2.7.1'></script>
    <script type='text/javascript' src='http://goodwork.show/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript'
            src='http://goodwork.show/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
    <script type='text/javascript'
            src='http://goodwork.show/wp-content/themes/html5blank-stable/js/scripts.js?ver=1.0.0'></script>
    <link rel='https://api.w.org/' href='http://goodwork.show/wp-json/'/>
    <script>
        // conditionizr.com
        // configure environment tests
        conditionizr.config({
            assets: 'http://goodwork.show/wp-content/themes/html5blank-stable',
            tests: {}
        });
    </script>

</head>
<body class="home">

    {% for message in messages %}
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div align="center"
                     class="alert alert-{{ message.tags }}">{{ message }}</div>
            </div>
        </div>
    {% endfor %}

<!-- wrapper -->
<div class="wrapper">

    <!-- header -->
    <header class="header clear" role="banner">

        <!-- logo -->
        <div class="logo">
            <h1><img width="100px" height="100px" src="http://nptel.ac.in/LocalChapter/Assets/college_logo/400_logo.jpg"></h1>

            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    <span class="input-group-addon">Roll No</span>
                    <input type="text" class="form-control" id="rollno" name="rollno" autofocus="autofocus">
                    <span class="input-group-addon"><button type="submit">Enter</button></span>
                </div>
            </form>
        </div>

        <!-- /logo -->

        <!-- nav -->

        <!-- /nav -->

        <!-- player -->
        <player class="player" role="player">
        </player>
        <!-- /player -->
    </header>
    <!-- /header -->




        </section>
        <!-- /section -->
    </main>


</div>
<!-- /wrapper -->

<!-- footer -->
<footer class="footer" role="contentinfo">
</footer>
<!-- /footer -->

<script type='text/javascript' src='http://goodwork.show/wp-includes/js/wp-embed.min.js?ver=4.7.5'></script>

<!-- analytics -->
<script>
    (function (f, i, r, e, s, h, l) {
        i['GoogleAnalyticsObject'] = s;
        f[s] = f[s] || function () {
            (f[s].q = f[s].q || []).push(arguments)
        }, f[s].l = 1 * new Date();
        h = i.createElement(r),
            l = i.getElementsByTagName(r)[0];
        h.async = 1;
        h.src = e;
        l.parentNode.insertBefore(h, l)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-XXXXXXXX-XX', 'yourdomain.com');
    ga('send', 'pageview');
</script>
</body>
</html>
